---
import { getCollection } from 'astro:content'
import { Image } from "astro:assets";
import PageLayout from "../../layouts/PageLayout.astro"
import BlogPostCard from "../../components/BlogPostCard.astro"
import AuthorLinks from "../../components/AuthorLinks.astro";
import PostLinks from "../../components/PostLinks.astro";
import Pagination from "../../components/Pagination.astro";

const allPosts = (await Astro.glob("/src/pages/blog/**/*.md"))
allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date))

const authors = await getCollection('authors')

export async function getStaticPaths({ paginate }) {
    const allPosts = await Astro.glob("/src/pages/blog/**/*.md");
    const formattedPosts = allPosts.sort((a, b) => new Date(a.frontmatter.date) - new Date(b.frontmatter.date)).reverse();

    return paginate(formattedPosts, {
        pageSize: 5,
    })
}
const { page } = Astro.props;
console.log(page)
const pathname = new URL(Astro.request.url).pathname.split('/');
const firstPath = pathname[1];
---
<PageLayout title="Kozrh's Blog">
    <hr class="w-100"/>
    <section class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="cell-md-9">
                    <div class="pr-10">
                        {
                            page.data.map( (post) => <BlogPostCard {post} />)
                        }
                    </div>
                    <div>
                        <Pagination length={page.lastPage}
                                    currentUrl={page.url.current}
                                    currentPage={page.currentPage}
                                    firstUrl={`/${firstPath}`}
                                    prevUrl={page.url.prev}
                                    nextUrl={page.url.next}
                                    lastUrl={`/${firstPath}/${page.lastPage}`}
                        />
                    </div>
                </div>
                <div class="cell-md-3">
                    <div class="sidebar border-left bd-default pl-4 pr-4">
                        <h1 class="">Blog</h1>

                        <div class="sidebar-group">
                            <div class="text-bold border-bottom bd-default">Total Posts</div>
                            <div class="h1 text-center">{allPosts.length}</div>
                        </div>

                        <div class="sidebar-group">
                            <div class="text-bold border-bottom bd-default">Popular Posts</div>
                            {
                                allPosts.length === 0 ? <div class="reduce-1 text-muted">No posts</div> : <PostLinks posts={allPosts}/>
                            }
                        </div>

                        <div class="sidebar-group">
                            <div class="text-bold border-bottom bd-default">Team</div>
                            <div>
                                <AuthorLinks authors={authors}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</PageLayout>