---
import { getCollection } from 'astro:content'
import PageLayout from "../../layouts/PageLayout.astro"
import AuthorLinks from "../../components/AuthorLinks.astro";
import Pagination from "../../components/Pagination.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import {shuffleArray, tagsWeight} from "../../js/utils";
import PostLinks from "../../components/PostLinks.astro";
import CloudTags from "../../components/CloudTags.astro";

const authors = await getCollection('authors')
const allPosts = await getCollection('blog', ({data}) => {
    return data.draft !== true
})
const randomPosts = shuffleArray(allPosts).slice(0, 5)
const tags = tagsWeight(allPosts)
export async function getStaticPaths({ paginate }) {
    const posts = await getCollection('blog', ({data}) => data.draft !== true);

    posts.sort((a, b)=>b.data.date.valueOf() - a.data.date.valueOf())

    return paginate(posts, {
        pageSize: 5,
    })
}
const { page } = Astro.props;
---
<PageLayout title="Kozrh's Blog">
    <section class="container-fluid border-top bd-default pt-10">
        <div class="container">
            <div class="row">
                <div class="cell-md-9">
                    <div class="pr-10">
                        {
                            page.data.map( (post) => <BlogPostCard {post} />)
                        }
                    </div>
                    <div>
                        <Pagination length={page.lastPage}
                                    currentUrl={page.url.current}
                                    currentPage={page.currentPage}
                                    firstUrl={`/blog`}
                                    prevUrl={page.url.prev}
                                    nextUrl={page.url.next}
                                    lastUrl={`/blog/${page.lastPage}`}
                        />
                    </div>
                </div>
                <div class="cell-md-3">
                    <div class="sidebar border-left bd-default pl-4 pr-4">
                        <h1 class="">Blog</h1>

                        <div class="blog-sidebar-group">
                            <div class="text-bold border-bottom bd-default">Total Posts</div>
                            <div class="h1 text-center">{allPosts.length}</div>
                        </div>

                        <div class="blog-sidebar-group">
                            <div class="text-bold border-bottom bd-default">Random Posts</div>
                            {
                                randomPosts && <PostLinks posts={randomPosts} />
                            }
                        </div>

                        <div class="blog-sidebar-group">
                            <div class="text-bold border-bottom bd-default">Newsletter</div>
                        </div>

                        <div class="blog-sidebar-group">
                            <div class="text-bold border-bottom bd-default">Cloud tags</div>
                            <CloudTags {tags} />
                        </div>

                        <div class="blog-sidebar-group">
                            <div class="text-bold border-bottom bd-default">Team</div>
                            <div>
                                <AuthorLinks authors={authors}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</PageLayout>
<style lang="less">
    .app-bar {
        border-bottom: 1px solid #e8e8e8!important;
    }

    @import "../../styles/blog.less";
</style>

