---
import GTag from "./GTag.astro";
const { title = 'Korzh.com', description = "", permalink = "", image = "", base } = Astro.props
---
{base && <base href={base}>}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" type="image/ico" sizes="32x32" href="/favicon.ico">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<title>{title}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge"  />
<meta name="title" content={title}/>
<meta name="description" content={description}/>

<!-- Open Graph Tags (Facebook) -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:url" content={permalink} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={title} />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<GTag/>

<script is:inline src="/js/metro.js"></script>

<style is:global lang="less">
    @import "../styles/global";
    @import "../styles/blog";
</style>

<script>
    import "../js/slow-loading"
</script>
