---
import {Image} from "astro:assets";
import {formatDate} from "../js/utils.js";
import {slugify} from "../js/utils";
const { post } = Astro.props
const {title, date, time, image, description, tags, category} = post.frontmatter
---

<article class="mb-5 border-bottom bd-default pb-5">
    <div class="text-muted reduce-1 place-right">
        <div class="datetime">{formatDate(date)} &bull; {time && `${time} read`}</div>
    </div>
    <a class="category" href=`/category/${slugify(category)}`>{category}</a>
    <Image src={image.src} alt={image.alt} width="1200" height="100" class="blog-cover" format="avif"/>
    <a class="h3 no-decor" href=`${post.url}`>{title}</a>
    <div class="mt-4 mb-4" set:html={description || post.compiledContent().split("<!-- trunc -->")[0]}></div>
    <div class="d-flex flex-row">
        <div class="">
            <a class="read-more" href=`${post.url}`>Read More...</a>
        </div>
        <div class="ml-auto">
            {tags && tags.map(tag => <a class="tag" href=`/tags/${tag}`>{tag}</a>)}
        </div>
    </div>
</article>
