---
import BaseHead from "../components/BaseHead.astro";
import DocsNavigation from "../components/DocsNavigation.astro";
import TableOfContents from "../components/TOC.astro";
import Sidebar from "../components/Sidebar.astro";

const { title, docName, docTitle, headings, slug, sidebar } = Astro.props
---
<html lang="en" class="scrollbar-type-2">
<head>
    <BaseHead title={title} base="/easyquery/javascript/docs/"/>
</head>
<body class="m4-cloak" style={{ paddingTop: "52px" }}>
<DocsNavigation wide={true} {docName} {docTitle}/>

<main>
    <aside id="sidebar">
        <Sidebar {sidebar}/>
    </aside>

    <section id="content">
        <div id="content-data">
            <slot name="content" />
        </div>
        <div id="content-toc">
            <div class="p-4">
                <h5 class="mb-2">On this page</h5>
                <TableOfContents headings={headings} base={slug}/>
            </div>
        </div>
    </section>
</main>

<slot/>

</body>
</html>
<style is:global>
    #appbar {
        border-bottom: 1px solid #cccccc !important;
    }
</style>
<style lang="less">
    @import "../styles/docs.less";
</style>
<script>

</script>